html {
    justify-content: center;
    display: flex;
}

div {
        display: block;
        float: left;
        padding: 1em;
}

.month {
       border-spacing: 0px;
         border-collapse: collapse;
}

.month td {
    border: 1pt solid black;
    height: 20pt;
    width: 10pt;
    text-align: right;
    margin: 0;
}

.empty {
    background-color: lightgray;
}
.f0 {
    background-color: yellow;
}

.f1 {
    background-color: orange;
}

.f2 {
    background-color:lightblue;
}

.f3 {
    background-color:orchid;
}

.f4 {
    background-color: red;
}
