html {
    justify-content: center;
    display: flex;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
h1 {
    text-align: center;
}

/* hide header for printing, to fit everything on one A4 page */
@media print {
    h1 {
        display: none;
    }
}

.month {
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 1ex;
}

.month td {
    border: 1pt solid black;
    height: 3ex;
    width: 3ex;
    text-align: right;
    margin: 0;
}

.month th {
        border: 1pt solid black;
}

.empty {
    background-color: lightgray;
}
.f0 {
    background-color: yellow;
}

.f1 {
    background-color: orange;
}

.f2 {
    background-color:lightblue;
}

.f3 {
    background-color:orchid;
}

.f4 {
    background-color: red;
}
