body {
    max-width: 800px;
}
.f0 {
    background-color: yellow;
}

.f1 {
    background-color: orange;
}

.f2 {
    background-color:lightblue;
}

.f3 {
    background-color:orchid;
}

.f4 {
    background-color: red;
}