name: Build and Deploy GitHub Pages

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 1 1 *'  # 1.1. on every year

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout Repository
        uses: actions/checkout@v4

      - name: setup Python 
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: generate files
        run: |
          locale -a
          python generate.py --old --lang=de_DE --ics=old.de.cal.ics --html=old.de.cal.html
          python generate.py --new --lang=de_DE --ics=new.de.cal.ics --html=new.de.cal.html
          ln -s old.de.cal.html index.html

      - name: upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: deploy to gh pages
        id: deployment
        uses: actions/deploy-pages@v4